.teams-container {
  font-size: var(--font-m);
  border: 2px solid var(--white);
  padding: var(--spacing-m);
  box-sizing: border-box;
}

.team-details ul {
  list-style-type: none;
  border: 2px solid var(--white);
  padding: var(--spacing-m);
  margin-bottom: var(--spacing-m);
  height: 300px;
  overflow: auto;
}

.team-details ul li {
  font-size: var(--font-m);
  margin: var(--spacing-s) 0;
}

.team-details ul li a {
  color: var(--red);
}

.team-details ul li a:hover {
  color: var(--white);
}

@media (min-width: 768px) {
  .team-details {
    display: flex;
  }

  .team-details ul {
    height: auto;
    width: 100%;
    margin: 0 var(--spacing-m) 0 0;
  }

  .team-details ul:last-child {
    margin: 0;
  }
}