:root {
  --background: #ffffff;
  --foreground: #171717;
  --spacing-xs: 8px;
  --spacing-s: 16px;
  --spacing-m: 24px;
  --spacing-l: 32px;
  --spacing-xl: 40px;
  --spacing-xxl: 48px;
  --spacing-xxl: 56px;

  --font-xs: 12px;
  --font-s: 14px;
  --font-m: 16px;
  --font-l: 18px;
  --font-xl: 20px;
  --font-xxl: 22px;

  --red: #ff0000;
  --white: #ffffff;
  --black: #000000;
  --transparent: transparent;

  --mobile: 768px;

  --fontWeight-m: 400px;
  --fontWeight-l: 500px;  
  --fontWeight-xl: 600px;  
  --fontWeight-xxl: 700px;  
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--black);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
  padding: 0;
  margin: 0 0 var(--spacing-m) 0;
}

p {
  font-size: var(--font-m);
  margin: 0 0  var(--spacing-s) 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content:first baseline;
  align-items: center;
  padding: 0;
  height: 100vh;
  width: 100%;
}

.page {
  padding: 0 var(--spacing-l);
  width: 100%;
}

@media (min-width: 768px) {
  .main {
    width: 90%;
  }

  .page {
    padding: var(--spacing-xl);
    width: 100%;
  }
}



.nav-link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.nav-link :hover {
  color: var(--red);
  text-decoration: underline;
}
